#calendar {
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
  float: left;
  margin-bottom: 30px;
}

div#calendar * table {
}

div#calendar * td {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}

div#calendar * th {
  background-color: #eee;
}

div.datedisplay {
  text-align: left;
  vertical-align: top;
  padding: 2px;
  width: 95px;
  height: 75px;
  overflow: hidden;
  white-space: nowrap;
  font-size: smaller;
}

div.dateday {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #aaa;
  margin-bottom: 2px;
}

ul.calendar_eventlist {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.calendar_eventlist li {
  padding: 0;
  margin: 0;
}

div#calendar span.event_time {
  font-size: 7px;
}
div#calendar a.event_link {
  text-decoration: none;
}

.notmonth {
  color: gray;
}

.weekend {
  background-color: lightgray;
}

.today {
  background-color: #999;
}

div#calendar_content {
  float: left;
}
