#calendar {
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
  float: left;
}

div#calendar * table {
}

div#calendar * td {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}

div#calendar * th {
  background-color: #eee;
}

div#calendar * td div {
  text-align: center;
  vertical-align: top;
  padding: 2px;
  width: 70px;
  height: 55px;
  overflow: auto;
}

div#calendar * a.event_link {
  font-size: smaller;
}

.notmonth {
  color: gray;
}

.weekend {
  background-color: lightgray;
}

.today {
  background-color: #999;
}
