body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color: #000; }

h1 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: larger;
}

#main {
}

#header {
  display: block;
  border-bottom: 1px solid black;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #8db;
}

#profile {
  border: 1px solid gray;
  margin: 5px;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightgray;
  padding: 5px;
}

#flashNotice {
  border: 2px solid green;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#content {
  margin-top: 40px;
  padding: 10px;
}

#menu {
  display: block;
  position: absolute;
  background-color: #8cb;
  top: 60px;
  left: 0;
  width: 100%;
}
#menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#menu ul li {
  display: inline;
  padding: 0;
  margin: 0;
}
#menu a {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #330;
  margin: 0;
  padding: 7px 20px;
}
#menu a:hover {
  background-color: #697;
}

#footer {
  clear: both;
  font-size: 10px;
  text-align: center;
  border-top: 1px solid lightgray;
  padding: 3px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.event_date {
  font-size: smaller;
}

#calendar_content {
  display: block;
}
