body { background-color: #fff; color: #333; }

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

#main {
}

#header {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-left: 10px;
}

#profile {
  border: 1px solid gray;
  margin: 5px;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightgray;
  padding: 5px;
}


#flashNotice {
  border: 2px solid green;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #f0f0f0;
}

#content {
  float: right;
  width: 80%;
}

#menu {
  float: left;
}

#footer {
  clear: both;
  font-size: 10px;
  text-align: center;
  border-top: 1px solid lightgray;
  padding-top: 3px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.event_date {
  font-size: smaller;
  margin-top: -10px;
}