<%= render :partial => "calendar", :locals => { :all_event_instances => @all_event_instances } %>

<div id="calendar_content">
  <h2><%= I18n.t 'titles.event_repeating', :title => @event_instance.event.title %></h2>
  <p class="event_date"><%= @event_instance.date %></p>
  <%= render :partial => "event_instance_editor", :locals => { :event_instance => @event_instance } %>
</div>
