<%= render :partial => "calendar", :locals => { :all_event_instances => @all_event_instances } %>

<h2><%= I18n.t 'titles.event', :title => @event.title %></h2>
<p class="event_date"><%= @event.start_date %></p>